[submodule "localization/openstreetmap"]
	path = localization/openstreetmap
	url = https://github.com/cskroonenberg/openstreetmap
[submodule "deepracer_api"]
	path = deep_racer/deepracer_api
	url = https://github.com/cskroonenberg/deepracer_api
[submodule "localization/R_Tree"]
	path = localization/R_Tree
	url = https://github.com/cskroonenberg/R_Tree
[submodule "localization/frenet_optimal_trajectory_planner"]
	path = localization/frenet_optimal_trajectory_planner
	url = https://github.com/erdos-project/frenet_optimal_trajectory_planner
