[submodule "localization/matio-cpp"]
	path = src/localization/matio-cpp
	url = https://github.com/ami-iit/matio-cpp
[submodule "cadd_e_interface"]
	path = cadd_e_interface
	url = https://github.com/KU-EECS-581-Self-Driving-Golfcart/cadd_e_interface
[submodule "src/localization/frenet_optimal_trajectory_planner"]
	path = src/localization/frenet_optimal_trajectory_planner
	url = https://github.com/cskroonenberg/frenet_optimal_trajectory_planner