[submodule "localization/openstreetmap"]
	path = localization/openstreetmap
	url = https://github.com/cskroonenberg/openstreetmap

[submodule "localization/openstreetmap"]
	path = doc/sprint2/req2/MatLab_OSM
	url = https://github.com/johnyf/openstreetmap